<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="color:red;background-color:blue;">
    <h1 style="color:red;background-color:pink;font-size:46px;">Welcome to Mails, Name  <%= @emp.first_name %></h1><br>
    <p style="font-size:46px;">
      You have successfully complete destroyed ,
      your useremail is: <%= @emp.email %>.<br>
     
    </p>
    <p style="font-size:46px;">
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p style="font-size:46px;">Thanks for deleting!</p>
  </body>
</html>