<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:skyblue;">
    <h1 style="font-size:26px;" >Welcome to Edit, <%= @emp.first_name %></h1><br>
    <p style="font-size:26px;">
      You have successfully edited  <br>
      your useremail is: <%= @emp.email %>.<br>
     
    </p>
    <p style="font-size:26px;">
      To login to the site, just follow this link: <%= @url %>.<br>
    </p>
    <p style="font-size:26px;"> Thanks for joining and have a great day!</p>
  </body>
</html>
